@{
    Layout = "~/_SiteLayout.cshtml";

    List<dynamic> Employees;
    
    <style>
        .something {
            color: red;
        }

        .card-body {
            background: #ccff66;
            overflow: hidden;
            display: grid;
            /*grid-template-columns: 200px 1fr;*/
        }

        .card-header {
            background: #66ffcc;
        }

        .emp-card-body{
            background: #ffffff;
        }

        b {
            color: blueviolet;
        }
        form {
            overflow: hidden;
            display: grid;
            grid-template-columns: 200px 1fr;
        }

        label {
            float: left;
            grid-column: 1 / 2;
            /*width: 200px;*/
            /*padding-right: 24px;*/
        }

        emp-overlay {
            background: grey; 
            background-image: url(/Images/green-checkmark.png);
            opacity: 0.4;
            position: fixed;
            display: none;
            z-index: 2;

            
        }

        input, button {
            float: right;
            grid-column: 2 / 3;
            /*width: calc(100% - 200px);*/
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card-header ">
                    <b>Add New Employee</b> <span class="fa fa-chevron-down float-right"></span>
                </div>
                <div class='card-body'>                   
                            <label for="firstnameAdd">First Name: </label>
                            <input id="firstnameAdd" type="text" name="firstnameAdd" />
                            <label for="lastnameAdd">Last Name: </label>
                            <input id="lastnameAdd" type="text" name="lastnameAdd"/>
                            <label for="positionAdd">Position: </label>
                            <input id="positionAdd" type="text" name="positionAdd" />
                            <label for="telephoneAdd">Telephone: </label>
                            <input id="telephoneAdd" type="text" name="telephoneAdd" />
                            <button id="createEmpbtnAdd" class="btn-primary" type="submit">Create Employee</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-header ">
                    <b>Find Employee</b><span class="fa fa-chevron-down float-right"></span>
                </div>
                <div class='card-body '>
                    @*<form @*method="post" action="">*@
                        <label for="firstnamesrch">First Name: </label>
                        <input id="firstnamesrch" type="text" name="firstnamesrch" />
                        <label for="lastnamesrch">Last Name: </label>
                        <input id="lastnamesrch" type="text" name="lastnamesrch" />
                        <label for="positionsrch">Position: </label>
                        <input id="positionsrch" type="text" name="positionsrch" />
                        <label for="telephonesrch">Telephone: </label>
                        <input id="telephonesrch" type="text" name="telephonesrch" />
                        

                        <button id="SearchEmpbtn" class="btn-primary" type="submit">Search Employee</button>
                        <button id="SearchAllEmp" class="btn-link btn-sm" type="submit">Find All Employees</button>


                    @*</form>*@
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-header ">
                    <b>Remove Employee</b><span class="fa fa-chevron-down float-right"></span>
                </div>
                <div class='card-body '>
                    One of three columns <span class="something">Testing</span>
                </div>
            </div>
            @*<div class="container">*@
                @*<div class="row">*@
                    <div id="employees" class="col-md-12">
                        <div  class="card-header ">
                            The following employees were found:
                        </div>
                        <div class="card-body empArea">
                           <div class="container emp-container">
                               <div class="row emp-row">

                               </div>
                           </div>
                        </div>
                    </div>
                @*</div>*@
            @*</div>*@ @*container*@
        </div>
    </div>
}

    <script>
        $(document).ready(function () {
            toastr.info('Welcome to Employee Services');            
        })

        var worker;

        $('#employees, [class^="col-"] ').on("click",".card-header", function (e) {
                console.log("this is a click");
                $(this).parent().children('.card-body').slideToggle();
                $(this).find("span.fa-chevron-down").toggleClass("fa-flip-vertical")
        })

        $('#employees').on('click', '.emp-card-body', function (worker) {
            console.log("body clicked on");

            if (worker.typeOf() == 'undefined') {
                worker = new Worker('/scripts/worker.js');
            }
            
            worker.onmessage = function (event) {
                toastr.info("You have selected " + event.data + " users")
            }
            console.log(worker.onmessage);
            
            $(this).parent().children('.emp-card-body').toggleClass('emp-card-body emp-overlay')
            //$(this).parent().children('.emp-card-body').css({ "background": "grey", "background-image": "url(/Images/green-checkmark.png)", "opacity": "0.4" });
            $(this).parent().children('.emp-overlay').attr("style", "display: block");
        })


        function clearSearchfields() {
            $('#firstnamesrch').val('');
            $('#lastnamesrch').val('');
            $('#positionsrch').val('');
            $('#telephonesrch').val('');
        }

        function clearNewEmployeeFields() {
            $('#firstnameAdd').val('');
            $('#lastnameAdd').val('');
            $('#positionAdd').val('');
            $('#telephoneAdd').val('');
        }


        $('#createEmpbtn').on('click', function () {
            $.ajax({
                type: 'POST',
                datatype: 'json',
                data: {
                    firstnameAdd: $('#firstnameAdd').val(),
                    lastnameAdd: $('#lastnameAdd').val(),
                    positionAdd: $('#positionAdd').val(),
                    telephoneAdd: $('#telephoneAdd').val()
                },
                url: '/Services/CreateNewEmployee',
                success: function (message) {
                    console.log(message);
                    //clearNewEmployeeFields();
                    toastr.success(message);
                },
                error: function () {
                    toastr.error('User was not created');
                }
            })

        })


        $('#SearchEmpbtn').on("click", function () {
            $.ajax({
                type: 'POST',
                datatype: 'json',
                data: {
                    firstnamesrch: $('#firstnamesrch').val(),
                    lastnamesrch: $('#lastnamesrch').val(),
                    positionsrch: $('#positionsrch').val(),
                    telephonesrch: $('#telephonesrch').val()
                },
                url: '/Services/FindEmployee',
                success: function (per) {       
                    $.each(JSON.parse(per), function (i, item) {
                        clearSearchfields();                     

                        var div0 = $("<div>", { "class": "col-md-4" })
                        var div1 = $("<div>", { "class": "card-header" }).text(item.firstname);
                        var div2 = $("<div>", { "class": "card-body emp-card-body " }).text(item.position + " " + item.telephone);
                        var span0 = $("<span>", {"class": "fa fa-chevron-down float-right"})
                        $(".emp-row").append(div0);
                        div0.append(div1, div2);
                        div1.append(span0);                       
                    })
                    var obj = JSON.parse(per);
                    toastr.info(obj[0].numUsers + " users found")
                },
                error: function () {
                    toastr.error('User not found');
                }
            })
        })

        $('#SearchAllEmp').on("click", function () {
            $.ajax({
                type: 'POST',
                datatype: 'json',
                data: {
                    findAll: "true"
                },
                url: '/Services/FindEmployee',
                success: function (per) {
                    var obj = JSON.parse(per);
                    toastr.info(obj[0].numUsers + " users found") 
                    $.each(JSON.parse(per), function (i, item) {
                        var div0 = $("<div>", { "class": "col-md-4" })
                        var div1 = $("<div>", { "class": "card-header emp-card-header" }).text(item.firstname);
                        var div2 = $("<div>", { "class": "card-body emp-card-body emp-overlay" }).text(item.position + " " + item.telephone);
                        var span0 = $("<span>", { "class": "fa fa-chevron-down float-right" })
                        $(".emp-row").append(div0);
                        div0.append(div1, div2);
                        div1.append(span0);
                    }
                )}
            })
        })


    </script>
